<div class = 'col-md-3'>

    <div class = 'thumbnail'>
      <%= image_tag 'book1.jpg', class: 'img-responsive' %>
    </div>

    <div class = 'caption'>
      <p><strong><%= link_to book.name, book_path(book) %></strong></p>
      <p>$<%= book.price %></p>
    </div>

  </div>